table {
  width: 100%;
  border: 1px solid #000;
  font-size: large;
}

th, td {
  text-align: left;
  vertical-align: top;
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 0.3em;
  caption-side: bottom;
  background: #36393e;
  color: #fff;
  font-weight: bold;
}

caption {
  padding: 0.3em;
  color: #fff;
}

th {
  background: #36393e;
  color: #fff;
}